/* .features{
    color: brown;
}

.navbar-brand{
    margin-right: 200px;
    color: blue;
} */
.menu{
    font-weight: 500;
    color: black;
}

.dropdown-background{
    background:rgba(0,0,0,0.6) !important;
}