.btn-group .button-style:hover{
    background-color: rgb(184, 43, 43);
    color: white;
}

.color-button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    
}


.selected {
    border: 2px solid black;
  }

.not-selected{
    border: 2px solid white;
}